<article>
    <section>
        <h1 class="text-center">{{ 'intive' | translate}}</h1>

        <div class="row top-30 ">
            <!-- Birthday Form -->
            <div class="col-sm-8 offset-sm-2">
                <form ngNativeValidate #f="ngForm" (ngSubmit)="saveBirthday(f)">
                    <!-- Input Name -->
                    <div class="form-group">
                        <label for="name">{{ 'name' | translate }}:</label>
                        <input type="text" class="form-control" id="name" placeholder="{{ 'name-placeholder' | translate }}" ngModel name="name" required>
                    </div>
                    <!-- Input Surname -->
                    <div class="form-group">
                        <label for="surname">{{ 'surname' | translate }}:</label>
                        <input type="text" id="surname" class="form-control" placeholder="{{ 'surname-placeholder' | translate }}" ngModel name="surname" required>
                    </div>
                    <!-- Select Countries -->
                    <div class="form-group">
                        <label for="countryControl">{{ 'countries' | translate }}:</label>
                        <select class="form-control" placeholder="Select country" [compareWith]="compare" id="countrySelect" [(ngModel)]="selectedCountries" name="countrySelect" required>
                            <option value="" disabled selected>{{ 'countries-placeholder' | translate }}</option>
                            <option *ngFor="let country of countries" [ngValue]="country">
                            {{country.name }}
                            </option>
                        </select>
                    </div>
                    <!-- Birthday Date  -->
                    <div class="form-group">
                        <label for="dateSelected">{{ 'birthday' | translate }}:</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="{{ 'birthday-placeholder' | translate }}" id="dateSelected" name="dateSelected" ngbDatepicker [(ngModel)]="birthdayDate" #d="ngbDatepicker" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                    <i class="far fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Submit -->
                    <div class="text-right">
                        <button type="button" class="btn btn-primary" [routerLink]="[lang,'revisited']">{{'old-entries' | translate}}</button>
                        <button type="submit" class="btn btn-primary ">{{ 'save' | translate }}</button>
                    </div>
                </form>
            </div>

        </div>

        <div class="col-sm-12 text-right top-30">
            <span>
                <strong>Adrián Cabello</strong>
            </span>
        </div>
    </section>
</article>