<article>
    <section>
        <h1 class="text-center">Intive - FDV Exercise</h1>

        <div class="row top-30 ">
            <!-- Birthday Form -->
            <div class="col-sm-6">
                <form ngNativeValidate #f="ngForm" (ngSubmit)="saveBirthday(f)">
                    <!-- Input Name -->
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" placeholder="Name here" ngModel name="name" required>
                    </div>
                    <!-- Input Surname -->
                    <div class="form-group">
                        <label for="surname">Surname:</label>
                        <input type="text" id="surname" class="form-control" placeholder="Surname here" ngModel name="surname" required>
                    </div>
                    <!-- Select Countries -->
                    <div class="form-group">
                        <label for="countryControl">Countries:</label>
                        <select class="form-control" [compareWith]="compare" id="countrySelect" [(ngModel)]="selectedCountries" name="countrySelect" required>
                            <option value="">Select country</option>
                            <option *ngFor="let country of countries" [ngValue]="country">
                            {{country.name }}
                            </option>
                        </select>
                    </div>
                    <!-- Birthday Date  -->
                    <div class="form-group">
                        <label for="dateSelected">Birthday:</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="Birthdate Here" id="dateSelected" name="dateSelected" ngbDatepicker [(ngModel)]="birthdayDate" #d="ngbDatepicker" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                    <i class="far fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Submit -->
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary ">SAVE</button>
                    </div>
                </form>
            </div>

            <!-- Birthday Table-->
            <div class="col-sm-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Country</th>
                            <th scope="col">Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let birthday of _birthdayServices.birthdays" (click)="showBirthday(birthday)">
                            <td>{{birthday.name}}</td>
                            <td>{{birthday.surname}}</td>
                            <td>{{birthday.country.name}}</td>
                            <td>{{birthday.date | date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-12 text-right top-20">
            <span>
                <strong>Adrián Cabello</strong>
            </span>
        </div>
    </section>
</article>